.xx-small {
  font-size: 0.3em;
}
.x-small {
  font-size: 0.5em;
}
.small {
  font-size: 0.7em;
}
.normal {
  font-size: 1em;
}
.medium {
  font-size: 1.3em;
}
.large {
  font-size: 1.5em;
}
.x-large {
  font-size: 1.7em;
}
.xx-large {
  font-size: 2em;
}
.xxx-large {
  font-size: 2.3em;
}
.white{
  color: #fff;
}

.wj-blue-bg{
  background-color: #0f3c7e;
}
.wj-blue-fg{
  color: #0f3c7e;
}
.wj-green-bg{
  background-color: #017f7c;
}
.wj-green-fg{
  color: #017f7c;
}

.clear-fix::after {
  content: '';
  clear: both;
  display: table;
}
.center{
  text-align: center;
}
/* margins */
.mx-0{
  margin: 0;
}
.mx-10{
  margin: 10px;
}
.mt-10{
  margin-top: 10px;
}
.mr-10{
  margin-left: 10px;
}
.mb-10{
  margin-left: 10px;
}
.ml-10{
  margin-left: 10px;
}
.px-0{
  padding: 0;
}
.px-10{
  padding: 10px;
}
.pr-10{
  padding-right: 10px;
}
.pb-10{
  padding-bottom: 10px;
}
.pl-10{
  padding-left: 10px;
}
