.Header{
    min-height: 100px;
    padding: 10px;
}
.Header ul{
    display: block;
}

.Header li{
    display: inline-block;
    min-width: 100px;
    text-align: center;
    line-height: 2em;
}
.Header li:hover{
    color: #fff;
    border: 1px solid #fff;
    background-color: #017f7c;
}
.Header a{
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}